body {
    /* The image used */
    background-image: url("../images/background.jpg");

    /* Full height */
    height: 100%; 

    /* Scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
}